<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Patients' questions</h2>

<table>
 
  <thead>
    <tr>
      <th style="width:5%">No.</th>
      <th><h4>Patient</h4></th>
      <th>Patient Email</th>
      <th>Matter </th>
      <th>Message</th>
      <th></th>
    </tr>
  </thead>
  
  {%for question in questions %}
    <tr>
      <td>{{forloop.counter}}</td>

      <td>{{question.patientName}}</td>
      <td>{{question.Email_Address}}</td>
      <td>{{question.matter}}</td>            
      <td>{{question.message}}</td>
      <td>
        <a href="{% url 'reply_patient' pk=question.id %}">
          Reply
        </a>
      </td>

    </tr> 
  {% endfor %}

</table>

</body>
</html>